.fire {
    background-image: url(SIGNATURE_IMAGE_PATH), url(WINE_IMAGE_PATH);
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;
    background-position: left, center;
    background-size: 300px, auto;
    animation: AnimateBG2 0.2s;
}
.fire h1, .fire p {
    color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 0!important;
    margin-bottom: 0!important;
    text-shadow: 7px 2px black;
}
.fire h1 {
    font-size: 3.5rem;
    padding: 4rem 0!important;
}
.fire a {
    text-decoration: none;
}
.fire p {
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 black;
}
.signature {
    height: 210px;
    padding: 0;
    background-image: url(WINE_IMAGE_PATH);
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}
audio {
    width: 250px;
    padding: 0!important;
    margin: 0!important;
}
audio::-webkit-media-controls-panel {
    background: linear-gradient(0deg, transparent, AUDIO_RGBDE, AUDIO_RGBDE, transparent), url(WINE_IMAGE_PATH);
    background-attachment: scroll, fixed;
}
@keyframes AnimateBG2 {
    0%{background-position: center, center;}
    100%{background-position: left, center;}
}
@media (prefers-reduced-motion: reduce) {
    .fire {
        animation: unset;
    }
}
@media (max-width: 555px) {
    .fire h1 {
        padding: 0 !important;
    }
}
.center {
    text-align: center;
}
.content {
    padding: 0 .25em .25em .25em;
}
pre {
    background-color: black;
    overflow-x: auto;
}
code {
    background-color: black;
}
body {
    background-color: #111;
    color: #ddd;
}
nav a {
    padding: 5px;
    border-radius: 10px;
}
a.selected {
    background: #6e0000;
}
summary h2 {
    display: inline;
}
summary.h2  {
    font-size: 2.4rem;
}
summary {
    cursor: pointer;
}
blockquote p {
    margin-top: 0;
    padding: 0;
}
