.fire {
    background-image: url(SIGNATURE_IMAGE_PATH), url(WINE_IMAGE_PATH);
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;
    background-position: left, center;
    background-size: 300px, auto;
    animation: AnimateBG2 0.2s;
}
.fire h1, .fire p {
    color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 0!important;
    margin-bottom: 0!important;
    text-shadow: 7px 2px black;
}
.fire p {
    background: rgba(73, 79, 82, 0.41);
    text-shadow: 0 0 black;
}
.signature {
    height: 210px;
    padding: 0;
    background-image: url(WINE_IMAGE_PATH);
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

audio::-webkit-media-controls-panel {
    background: linear-gradient(0deg, AUDIO_RGB66, AUDIO_RGBBB, AUDIO_RGBEE, AUDIO_RGBBB, AUDIO_RGB66), url(WINE_IMAGE_PATH);
    background-attachment: scroll, fixed;
}
@keyframes AnimateBG2 {
    0%{background-position: center, center;}
    100%{background-position: left, center;}
}
@media (prefers-reduced-motion: reduce) {
    .fire {
        animation: unset;
    }
}
