p {
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
    color: rgb(178, 172, 162);
}
:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p), p {
    max-width: 50rem;
}
p.center {
    text-align: center;
}
body {
    background-color: rgb(19, 21, 22);
    color: rgb(178, 172, 162);
}
h2:not(:nth-child(4)) {
    margin: 6rem auto 1rem auto!important;
}
h2, h1 {
    font-weight: bold;
    font-family: sans-serif;/*TODO*/
}
a {
    color: LINK_RGB!important;
}
a:visited {
    color: LINK_VISITED_RGB!important;
}
